html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: #000102;
    overflow: hidden;
    z-index: -1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background-color: white;
    height: 8vw;
    min-height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

header>#nav__company>#nav__circle {
    /*70px*/
    display: block;
    float: left;
    margin-top: 0.5vw;
    margin-left: 3vw;
    position: absolute;
    z-index: 10;
}

header>#nav__company>#nav__circle:hover {
    -webkit-transition: width 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
    width: 20.4vw;
}

header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__icon {
    width: 6.5vw;
    min-width: 40.6px;
    margin-left: 0.5vw;
    margin-top: 0.7vw;
}

header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name {
    display: inline-block;
    height: 3.7vw;
    min-height: 23.1px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 0px;
}

header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name.visible {
    opacity: 1;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 10.2vw;
}

header>ul {
    margin: 0px 0 0 45vw;
    padding: 2vw;
    z-index: 10;
}

header>ul>li {
    display: inline-block;
    padding: 1vw 1.5vw;
    vertical-align: middle;
}

header>ul>li>a {
    text-decoration: none;
    color: rgb(0, 12, 26);
    font-size: 1.7vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav-list__logo {
    display: none;
    width: 100%;
}

#nav-list__logo>img {
    height: 25px;
    margin: 0 -12px;
    display: block;
}

header>ul {
    margin: 0px 0 0 45vw;
    padding: 2vw;
    z-index: 10;
    display: flex;
}

header>ul>li {
    display: inline-block;
    padding: 1vw 1.5vw;
    vertical-align: middle;
}

header>ul>li>a {
    text-decoration: none;
    color: rgb(0, 12, 26);
    font-size: 1.7vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header>ul>li>a>.selecting {
    display: none;
    width: 1.8vw;
    transform: translateY(3px);
}

header>ul>li:hover>a>.selecting {
    display: revert;
    margin-right: -1.8vw;
}

.hamburger-menu {
    height: 100%;
    float: right;
    margin: auto;
    display: none;
    align-content: center;
}

/* COVER */
.cover {
    background-image: url('../garm_stend.png');
    background-position: 0vw 0vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30vw;
    width: 100%;
    position: relative;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.cover__filter {
    width: 100%;
    height: 105%;
    vertical-align: middle;
    background: linear-gradient(0deg, #000102 0%, rgba(255, 255, 255, 0) 100%);
}

.cover__content {
    margin: 18vw;
    align-items: center;
}

.cover * {
    color: whitesmoke;
}

/*----------------------------------------------
SLOGAN
----------------------------------------------*/

#slogan__gradient {
    height: 40vw;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0;
    mix-blend-mode: darken;
    text-align: center;
    background: linear-gradient(to bottom, rgb(2, 0, 36) 0%, rgb(170, 0, 0) 0%, rgb(230, 135, 0)0%, rgb(207, 255, 0)100%, rgb(255, 132, 0)0%, rgb(170, 0, 0)0%, rgb(0, 0, 0, 1)0%);
}

#slogan {
    height: 40vw;
    position: sticky;
    z-index: 1;
    top: 0px;
    color: #f5f5f7;
    background-color: rgb(0, 12, 26);
    overflow: hidden;
    display: block;
}

.slogan__text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    background-color: #000102;
}

/*-------------------------------------
CARD
-------------------------------------*/

.card {
    margin: 50px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    user-select: none;
    /* -- Prevent image highlighting -- */
    text-align: center;
    height: 60vmin;
    position: relative;
}

#image-track>.image-container>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#image-track>.image-container>.image:hover {
    transform: scale(1.25);
}

#image-track>.image-container>img {
    transition: transform 0.5s, filter 0.5s;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    object-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_full-screen {
    width: 80% !important;
    height: 50% !important;
    object-fit: contain !important;
    object-position: center !important;

}

.reveal {
    position: relative;
    z-index: -1;
    transform: translateY(150px);
    opacity: 0.5;
    transition: 1.5s all ease;
}

.reveal.active {
    /*quando l utente scrollando dovrebbe trovarsi i paragrafi (trasparenti)
    la funzione in js da agli stessi anche la classe active facendo funzionare queste impostazioni*/
    transform: translateY(0);
    opacity: 1;
}

/*
FOOTER
*/

.footer {
    width: 100%;
    height: 15rem;
    background-color: #1f1f1f;
    color: #fff;
    margin-top: auto;
}

.footer__content {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}

.footer__content__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__content__logo img {
    height: 5rem;
}

.footer__content__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__content__info h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer__content__info p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.footer__content__info p a {
    color: #fff;
}

.footer__content > * > a > img{
    width: 5rem;
    height: 5rem;
}

.footer__bottom {
    width: 100%;
    height: 30%;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*ANIM IN */
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.animated.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

@media (max-width: 1000px) {
    .header {
        height: 12vw;
        background-color: white;
    }

    .hamburger-menu {
        margin-top: 30px;
        display: grid;
        margin-right: 30px;
        height: 6vw;
        align-content: space-around;
    }

    .hamburger-menu>span {
        display: block;
        width: 60px;
        height: 6px;
        background: #000000;
    }

    .nav-list {
        width: 40%;
        height: 0px;
        overflow: hidden;
        display: none;
        float: left;
        margin: 0 0 0 0;
        padding-top: 12vw;
        box-sizing: content-box;
        position: absolute;
        top: 0;
        z-index: -1;
        flex-direction: column;
    }

    header>ul>li>a {
        font-size: 2rem;
    }

    header>ul>li>a>.selecting {
        width: 2rem;
    }

    .is-open {
        height: 100vh;
        overflow: auto;
        background-color: whitesmoke;
        display: flex;
    }

    #nav-list__logo {
        display: block;
    }

    header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__icon {
        width: 12vw;
    }

    header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name {
        opacity: 1;
        align-self: center;
        width: 15vw;
        height: 6vw;
    }

    header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name.visible {
        position: absolute;
        width: 15vw;
        bottom: 0;
    }
}



@media (max-width: 624px) {
    header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name {
        margin-left: 47px;
        margin-top: 7.3;
    }
}

* {
    box-sizing: border-box;
}





/*
ANIMAZIONE
*/
/*--------------------------------------------
ANIM IN
--------------------------------------------*/

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinge {
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slideInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes slideInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-100px);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    -moz-animation-name: slideInDown;
    -o-animation-name: slideInDown;
    animation-name: slideInDown;
}


/*--------------------------------------------
ANIM OUT
--------------------------------------------*/

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-500px);
    }
}

@-moz-keyframes slideOutUp {
    0% {
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-500px);
    }
}

@-o-keyframes slideOutUp {
    0% {
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(-500px);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-500px);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    -moz-animation-name: slideOutUp;
    -o-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.1);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.animated.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@-moz-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }
}

@-o-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.animated.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
}

@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }
}

@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateX(20px);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.animated.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    -moz-animation-name: fadeOutRight;
    -o-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
}