/*COLOR PALETTE: https: //coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08*/

body {
    margin: 0px;
    background-color: #000102;
    overflow-X: hidden;
    position: absolute;
    z-index: -1;
}

/*-------------------------------------------------------
HEADER
-------------------------------------------------------*/
header {
    background-color: transparent;
    height: 8vw;width: 100%;
    position: fixed;z-index: 100;
}



header>#nav__company>#nav__circle {
    background: #fff;
    border-radius: 50%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 7.4vw;
    height: 6.5vw;
    /*70px*/
    display: block;
    float: left;
    margin-top: 0.5vw;
    margin-left: 3vw;
}

header>#nav {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header>#nav__company>#nav__circle:hover {
    -webkit-transition: width 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;

    width: 20.4vw;
}

header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__icon {
    width: 6.5vw;
    margin-left: 0.5vw;
    margin-top: 0.7vw;
    position: absolute;
}

header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name {
    display: inline-block;
    height: 3.7vw;
    margin-left: 7vw;
    margin-top: 1.2vw;
    position: absolute;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 0px;
}

header>#nav__company>#nav__circle>.nav__circle__logo>#nav__circle__logo__name.visible {
    opacity: 1;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 10.2vw;
}

ul {
    margin: 0px 0 0 45vw;
    padding: 2vw;
}

header>ul>li {
    display: inline-block;
    padding: 1vw 1.5vw;
    vertical-align: middle;
}

header>ul>li>a {
    text-decoration: none;
    color: rgb(0, 12, 26);
    font-size: 1.7vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header>ul>li>a>.selecting {
    display: none;
    width: 1.8vw;
    transform: translateY(3px);
}

header>ul>li:hover>a>.selecting {
    display: revert;
    margin-right: -1.8vw;
}

/*----------------------------------------------
SLOGAN
----------------------------------------------*/
#slogan__gradient {
    position: absolute;z-index: 2;
    width: 110%;
    transform: matrix(1, 0, 0, 1, 0, -540);
    mix-blend-mode: multiply;
    
}

#slogan__gradient>img {width: 100%;object-fit: cover;}
#slogan {
    height: 40vw;
    position: sticky;z-index: 1;top: 0px;
    color: #f5f5f7;background-color: rgb(0, 12, 26);
    overflow: hidden;display: block;  
}
.slogan__text {
    display: flex;align-items: center;text-align: center;justify-content: center;
    height: 100%;width: 100%;
    margin: 0 auto;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 5vw;
}

/*----------------------------------------
COVER
----------------------------------------*/
.cover {
    background-image: url('garm_stend.png');background-size: 100%;background-repeat: no-repeat;background-attachment: fixed;  
    height: 48vw;width: 100%;
    position: relative;
    display: flex;vertical-align: middle;justify-content: center;text-align: center;flex-direction: column;  
    margin: 0px;padding: 0px; 
}

.cover__filter {
    width: 100%;height: 100%;
    vertical-align: middle;
    background: linear-gradient(0deg, #000102 0%, rgba(255, 255, 255, 0) 80%);
}

.cover__content {
    margin: 18vw;
}

.cover * {
    color: white;
}

/*-------------------------------------
CARD
-------------------------------------*/
.card {
    margin: 50px;
}

#image-track {
    display: flex;
    position: relative;
    gap: 4vmin;
    user-select: none;
    /* -- Prevent image highlighting -- */
    text-align: center;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#image-track>.image:hover {
    transform: scale(1.25);
}

#image-track img {
    max-width: 50%;
    transition: transform 0.5s, filter 0.5s;
}

/*---------------------------------------------------
BANNER
---------------------------------------------------*/
.banner {
    margin: 0 10vw;
    width: auto;
    min-width: 360px;
    height: 375px;
    background: #fff;
    position: relative;
}

.banner>*>.text {
    float: left;
    width: 30%;
    min-width: none;
    color: #323232;
    height: 80%;
    text-align: center;
}

.banner>.button {
    position: absolute;
    margin-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
}

.banner>.button>.next {
    background: url(next.png) no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    float: right;
}

.banner>.button>.back {
    float: left;
    background: url(next.png) no-repeat center center;
    transform: rotateZ(180deg);
    background-size: cover;
    width: 50px;
    height: 50px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.banner>*>img {
    float: right;
    margin: 0px 0px;
    height: 100%;
    width: 70%;
}

.banner>.banner__first {
    display: block;
}

.banner>.banner_different {
    display: none;

}

.banner>.banner_visible {
    display: block;
    animation: fadeIn 1s;
}

.banner>#back {
    float: left;
}

/*-------------------------------------
PARAGRAFI
-------------------------------------*/
.reveal {
    position: relative;
    z-index: -1;
    transform: translateY(150px);
    opacity: 0.5;
    transition: 1.5s all ease;
}

.reveal.active {
    /*quando l utente scrollando dovrebbe trovarsi i paragrafi (trasparenti)
    la funzione in js da agli stessi anche la classe active facendo funzionare queste impostazioni*/
    transform: translateY(0);
    opacity: 1;
}

/*---------------------------------------------------
FOOTER
---------------------------------------------------*/
footer {
    background: url(footer.png) no-repeat 40% center;
    background-size: cover;
    background-position-y: bottom;
    height: 400px;
    width: 100vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

footer>.logo_magazzino {
    width: 50vw;
    margin-left: 25px;
    margin-top: 140px;
    display: block;
}

footer>.logo_magazzino>#logo_slogan {
    display: flex;
    flex-direction: row;
}

footer>.logo_magazzino>#logo_slogan>#logo_slogan__logo {
    background-size: cover;
    width: 120px;
    height: 100px;
    margin-bottom: 0px;
    text-align: center;
}

footer>.logo_magazzino>#logo_slogan>#logo_slogan__logo>img {
    width: 100%;
}

footer>.logo_magazzino>.magazzino {
    margin: 20px 0 0 0px;
}

footer>.logo_magazzino>.designer {
    font-style: italic;
    font-weight: bold;
    margin: 25px 0 100px 0px;
}

footer>.logo_magazzino>.designer>a {
    font-weight: 100;
    text-decoration: none;
    color: rgb(117, 117, 117);
}

footer>.informazioni {
    float: right;
    width: 50vw;
    color: rgb(208, 208, 208);
    margin: 140px 0 0 90px;

}

footer>.informazioni>* {
    float: left;
    margin-left: 5vw;
}

footer>.informazioni>*>h5 {
    color: white;
}

footer>.informazioni>*>a {
    text-decoration: none;
    color: rgb(117, 117, 117);
}

footer>.informazioni>*>a:hover {
    text-decoration: underline;
    color: rgb(206, 206, 206);
}

footer>.informazioni>.instagram {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 5px;

}

footer>.informazioni>.instagram>a {
    display: flex;
    width: 70px;

    float: right;
}

footer>.informazioni>.instagram>a>img {
    width: 70px;
}

/*----------------------------------------------
under 1000px
----------------------------------------------*/
@media (max-width: 1000px) {
    .banner>.button {
        position: absolute;
        margin-top: 180px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        z-index: 2;
    }

    .banner>.button>.next {
        margin-left: 67%;
    }

    .banner>*>.text {
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #3232324f;
        position: absolute;
        z-index: 1;
    }

    .banner>*>img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*--------------------------------------------
ANIM IN
--------------------------------------------*/
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinge {
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slideInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100px);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes slideInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-100px);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    -moz-animation-name: slideInDown;
    -o-animation-name: slideInDown;
    animation-name: slideInDown;
}

/*--------------------------------------------
ANIM OUT
--------------------------------------------*/
@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-500px);
    }
}

@-moz-keyframes slideOutUp {
    0% {
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-500px);
    }
}

@-o-keyframes slideOutUp {
    0% {
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(-500px);
    }
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-500px);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    -moz-animation-name: slideOutUp;
    -o-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.1);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.animated.pulse {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

* {
    box-sizing: border-box;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child+html .clearfix {
    zoom: 1;
}

/* IE7 */